@import url('https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..9000&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    box-sizing: border-box;
}

body{
    font-family: 'Montserrat';
    display: flex;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: hsl(30, 38%, 92%);
}

.container{
    display: flex;
    width: 700px;
    height: 500px;
    background-color: hsl(0, 0%, 100%);
    border-radius: 15px;
}

.left-side{
    background: #000;
    flex: 1;
    width: 100%;
    object-fit: cover;
}

.left-side img{
    height: 100%;
}

.right-side{
    display: flex;
    flex: 1;
    flex-direction: column;
    padding: 30px;
    background: white;
}

h1{
    font-size: 30px;
    color: hsl(212, 21%, 14%);
}

p{
    color: hsl(228, 12%, 48%);
}

.button{
    font-family: inherit;
    padding: 15px 5px;
    border: none;
    outline: none;
    color: white;
    background-color: hsl(158, 36%, 37%);
    border-radius: 5px;
    cursor: pointer;
}

h2{
    color: hsl(158, 36%, 37%);
    font-weight: bold;
font-family: 'Fraunces';
}

@media(max-width: 375px) {
    .container{
        float: column-reverse;
        width: 95%;
        padding: 0;
    }
    body{
        padding: 0;
        margin: 0;
    }
    .container h1{
        font-size: 30px;
    }
    .right-side{
        width: 100%;
        padding: 20px;
    }
    .left-side{
        width: 100%;
    }
    .left-side img{
        content: url(images/image-product-mobile.jpg);
    }
}